<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EmpresaExcluir</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.EmpresaExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpresaUpdate</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.EmpresaUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpresaInsert</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.EmpresaInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GruposExcluir</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.GruposExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GruposUpdate</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.GruposUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GruposInsert</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.GruposInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutosInsert</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.ProdutosInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutosUpdate</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.ProdutosUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutosExcluir</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.ProdutosExcluir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpresaExcluir</servlet-name>
        <url-pattern>/EmpresaExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpresaUpdate</servlet-name>
        <url-pattern>/EmpresaUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpresaInsert</servlet-name>
        <url-pattern>/EmpresaInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GruposExcluir</servlet-name>
        <url-pattern>/GruposExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GruposUpdate</servlet-name>
        <url-pattern>/GruposUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GruposInsert</servlet-name>
        <url-pattern>/GruposInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutosInsert</servlet-name>
        <url-pattern>/ProdutosInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutosUpdate</servlet-name>
        <url-pattern>/ProdutosUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutosExcluir</servlet-name>
        <url-pattern>/ProdutosExcluir</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
