<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EmpresaExcluir</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.EmpresaExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpresaUpdate</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.EmpresaUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpresaInsert</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.EmpresaInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GruposExcluir</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.GruposExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GruposUpdate</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.GruposUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GruposInsert</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.GruposInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutosInsert</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.ProdutosInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutosUpdate</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.ProdutosUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutosExcluir</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.ProdutosExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientesInsert</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.ClientesInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientesUpdate</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.ClientesUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientesExcluir</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.ClientesExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosInsert</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.UsuariosInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosUpdate</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.UsuariosUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosExcluir</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.UsuariosExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizaLogin</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.RealizaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormasPgtoInsert</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.FormasPgtoInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormasPgtoUpdate</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.FormasPgtoUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormasPgtoExcluir</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.FormasPgtoExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TabelaPrecosInsert</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.TabelaPrecosInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TabelaPrecosUpdate</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.TabelaPrecosUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TabelaPrecosExcluir</servlet-name>
        <servlet-class>br.univates.minhavenda.servlets.TabelaPrecosExcluir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpresaExcluir</servlet-name>
        <url-pattern>/EmpresaExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpresaUpdate</servlet-name>
        <url-pattern>/EmpresaUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpresaInsert</servlet-name>
        <url-pattern>/EmpresaInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GruposExcluir</servlet-name>
        <url-pattern>/GruposExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GruposUpdate</servlet-name>
        <url-pattern>/GruposUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GruposInsert</servlet-name>
        <url-pattern>/GruposInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutosInsert</servlet-name>
        <url-pattern>/ProdutosInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutosUpdate</servlet-name>
        <url-pattern>/ProdutosUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutosExcluir</servlet-name>
        <url-pattern>/ProdutosExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientesInsert</servlet-name>
        <url-pattern>/ClientesInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientesUpdate</servlet-name>
        <url-pattern>/ClientesUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientesExcluir</servlet-name>
        <url-pattern>/ClientesExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosInsert</servlet-name>
        <url-pattern>/UsuariosInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosUpdate</servlet-name>
        <url-pattern>/UsuariosUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosExcluir</servlet-name>
        <url-pattern>/UsuariosExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizaLogin</servlet-name>
        <url-pattern>/RealizaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormasPgtoInsert</servlet-name>
        <url-pattern>/FormasPgtoInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormasPgtoUpdate</servlet-name>
        <url-pattern>/FormasPgtoUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormasPgtoExcluir</servlet-name>
        <url-pattern>/FormasPgtoExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TabelaPrecosInsert</servlet-name>
        <url-pattern>/TabelaPrecosInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TabelaPrecosUpdate</servlet-name>
        <url-pattern>/TabelaPrecosUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TabelaPrecosExcluir</servlet-name>
        <url-pattern>/TabelaPrecosExcluir</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
